---
title: 'Aggregate patterns'
---

<p>The aggregate patterns are:</p>

<ul>
{% for pattern in patterns %}
{% if pattern.tags[0] == "aggregate patterns" %}
<li><a href="/pattern/{{ pattern.id | lower | replace('#', '-') }}.html">{{ pattern.id }}.</a> {{ pattern.name }}</li>
{% endif %}
{% endfor %}
</ul>

<p>These patterns interconnect with other patterns, sometimes with the help of the "associate - other associate" transaction pattern.</p>

<p>Here's an overview of aggregate patterns:</p>

<img src="/img/Strpat00000017.gif" alt="Aggregate patterns overview">

<p><a href="/patterns-for-building-object-models.html">Patterns for building object models</a></p>
