---
title: 'List of strategies: Establishing responsibilities'
---

<ul>
{% for strategy in strategies %}
{% if strategy.tags[0] == "establishing responsibilities" %}
<li><a href="/strategy/{{ strategy.id | lower | replace('#', '-') }}.html">{{ strategy.id }}.</a> {{ strategy.name }}</li>
{% endif %}
{% endfor %}
</ul>

<p><a href="/strategy/index.html">List of all strategies</a></p>
