---
pagination:
  data: patterns
  size: 1
  alias: pattern
permalink: "/pattern/{{ pattern.id | lower | replace('#', '-') }}.html"
eleventyComputed:
  title: '#{{ pattern.number }}. "{{ pattern.name }}" Pattern // {{ pattern.tags[0] }}'
---

<p><img src="/img/{{ pattern.image }}" alt="{{ pattern.image }}"></p>

{% if pattern.typicalInteractions.length %}
<h3>Typical object interactions</h3>
<ul>
{% for item in pattern.typicalInteractions %}
<li>{{ item }}</li>
{% endfor %}
</ul>
{% endif %}

{% if pattern.examples.length %}
<h3>Examples</h3>
<ul>
{% for item in pattern.examples %}
<li>{{ item }}</li>
{% endfor %}
</ul>
{% endif %}

{% if pattern.combinations.length %}
<h3>Combinations</h3>
<ul>
{% for combo in pattern.combinations %}
<li><a href="/{{ combo.slug }}.html">{{ combo.id }}.</a> &quot;{{ combo.name }}&quot;</li>
{% endfor %}
</ul>
{% endif %}

{% if pattern.relatedStrategies.length %}
<h3>Related strategies:</h3>
<ul>
{% for strategy in pattern.relatedStrategies %}
<li><a href="/{{ strategy.slug }}.html">{{ strategy.id }}.</a> &quot;{{ strategy.name }}&quot; Strategy</li>
{% endfor %}
</ul>
{% endif %}

<hr />

<p><a href="/{{ pattern.tags[0] | slug }}.html">{{ pattern.tags[0] | capitalize }}</a></p>

<p><a href="/patterns-for-building-object-models.html">Patterns for building object models</a></p>

